<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="name.schedenig.eclipse.grepconsole.preferences.GrepConsolePreferencePage"
            id="name.schedenig.eclipse.grepconsole.preferences.GrepConsolePreferencePage"
            name="%title_grep_console">
      </page>
      <page
            category="name.schedenig.eclipse.grepconsole.preferences.GrepConsolePreferencePage"
            class="name.schedenig.eclipse.grepconsole.preferences.GrepConsoleSettingsPreferencePage"
            id="name.schedenig.eclipse.grepconsole.preferences.GrepConsoleSettingsPreferencePage"
            name="%title_settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="name.schedenig.eclipse.grepconsole.consoleViewContribution"
            targetID="org.eclipse.ui.console.ConsoleView">
         <action
               class="name.schedenig.eclipse.grepconsole.actions.ManageExpressionsAction"
               icon="icons/logo_16.png"
               id="name.schedenig.eclipse.grepconsole.actions.ManageGrepExpressionsAction"
               label="%manage_expressions"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="name.schedenig.eclipse.grepconsole.view.grepViewContribution"
            targetID="name.schedenig.eclipse.grepconsole.grepView">
         <action
               class="name.schedenig.eclipse.grepconsole.actions.ManageExpressionsAction"
               icon="icons/logo_16.png"
               id="name.schedenig.eclipse.grepconsole.actions.ManageGrepExpressionsAction"
               label="%manage_expressions"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="name.schedenig.eclipse.grepconsole.launch.GrepConsoleLaunchConfigurationTab"
            group="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.localJavaApplication"
            id="name.schedenig.eclipse.grepconsole.launch.jdt"
            name="%title_grep_console">
         <placement
               after="org.eclipse.debug.ui.SHARED_LAUNCH_CONFIGURATON_DIALOG">
         </placement>
      </tab>
      <tab
            class="name.schedenig.eclipse.grepconsole.launch.GrepConsoleLaunchConfigurationTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            id="name.schedenig.eclipse.grepconsole.launch.cdt"
            name="%title_grep_console">
         <placement
               after="org.eclipse.debug.ui.SHARED_LAUNCH_CONFIGURATON_DIALOG">
         </placement>
      </tab>
      <tab
            class="name.schedenig.eclipse.grepconsole.launch.GrepConsoleLaunchConfigurationTab"
            group="org.eclipse.cdt.launch.applicationRunLaunchTabGroup"
            id="name.schedenig.eclipse.grepconsole.launch.cdt"
            name="%title_grep_console">
         <placement
               after="org.eclipse.debug.ui.SHARED_LAUNCH_CONFIGURATON_DIALOG">
         </placement>
      </tab>
      <tab
            class="name.schedenig.eclipse.grepconsole.launch.GrepConsoleLaunchConfigurationTab"
            group="org.eclipse.pde.ui.launcher.WorkbenchLauncherTabGroup"
            id="name.schedenig.eclipse.grepconsole.launch.workbench"
            name="%title_grep_console">
         <placement
               after="org.eclipse.debug.ui.SHARED_LAUNCH_CONFIGURATON_DIALOG">
         </placement>
      </tab>
      <tab
            class="name.schedenig.eclipse.grepconsole.launch.GrepConsoleLaunchConfigurationTab"
            group="org.eclipse.jdt.junit.launchConfigurationTabGroup.junit"
            id="name.schedenig.eclipse.grepconsole.launch.junit"
            name="%title_grep_console">
         <placement
               after="org.eclipse.debug.ui.SHARED_LAUNCH_CONFIGURATON_DIALOG">
         </placement>
      </tab>
      <tab
            class="name.schedenig.eclipse.grepconsole.launch.GrepConsoleLaunchConfigurationTab"
            group="org.eclipse.pde.ui.launcher.JUnitTabGroup"
            id="name.schedenig.eclipse.grepconsole.launch.junit_pde"
            name="%title_grep_console">
         <placement
               after="org.eclipse.debug.ui.SHARED_LAUNCH_CONFIGURATON_DIALOG">
         </placement>
      </tab>
      <tab
            class="name.schedenig.eclipse.grepconsole.launch.GrepConsoleLaunchConfigurationTab"
            group="name.schedenig.eclipse.tailconsole.launchConfigurationTabGroup"
            id="name.schedenig.eclipse.grepconsole.launch.tailconsole"
            name="%title_grep_console">
         <placement
               after="org.eclipse.debug.ui.SHARED_LAUNCH_CONFIGURATON_DIALOG">
         </placement>
      </tab>
   </extension>
   <extension
         id="name.schedenig.eclipse.grepconsole.views"
         name="%title_grep_views"
         point="org.eclipse.ui.views">
      <view
            category="name.schedenig.eclipse.grepconsole"
            class="name.schedenig.eclipse.grepconsole.view.grepview.GrepView"
            icon="icons/logo_16.png"
            id="name.schedenig.eclipse.grepconsole.grepView"
            name="%title_grep_view"
            restorable="true">
      </view>
      <category
            id="name.schedenig.eclipse.grepconsole"
            name="%title_grep_console">
      </category>
      <view
            category="name.schedenig.eclipse.grepconsole"
            class="name.schedenig.eclipse.grepconsole.view.grepstatistics.StatisticsView"
            icon="icons/logo_16.png"
            id="name.schedenig.eclipse.grepconsole.grepStatistics"
            name="%title_grep_statistics"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="name.schedenig.eclipse.grepconsole.adapters.GrepPageParticipant"
            id="name.schedenig.eclipse.grepconsole.GrepPageParticipant">
         <enablement>
            <instanceof
                  value="org.eclipse.ui.console.IConsole">
            </instanceof></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="name.schedenig.eclipse.grepconsole.viewerContribution"
            targetID="org.eclipse.debug.ui.ProcessConsoleType.#ContextMenu">
         <action
               class="name.schedenig.eclipse.grepconsole.actions.AddExpressionAction"
               icon="icons/logo_16.png"
               id="name.schedenig.eclipse.grepconsole.actions.AddExpressionAction"
               label="%add_expression"
               menubarPath="additions"
               style="pulldown">
         </action>
      </viewerContribution>
      <viewerContribution
            id="name.schedenig.eclipse.grepconsole.viewerContribution.TailConsole"
            targetID="name.schedenig.eclipse.tailconsole.TailConsole.#ContextMenu">
         <action
               class="name.schedenig.eclipse.grepconsole.actions.AddExpressionAction"
               icon="icons/logo_16.png"
               id="name.schedenig.eclipse.grepconsole.actions.AddExpressionAction"
               label="%add_expression"
               menubarPath="additions"
               style="pulldown">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
         <contexts file="help_contexts.xml" />
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="name.schedenig.eclipse.grepconsole.preferences.GrepConsolePreferenceInitializer">
      </initializer>
   </extension>
</plugin>
